.authorization__form {
  margin: 0 auto;
  padding-top: 50px;
  width: 358px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 530px) {
  .authorization__form {
    width: 260px;
  }
}
